absl-py==0.15.0
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
albumentations==1.2.1
aniso8601==9.0.1
antlr4-python3-runtime==4.9.3
anyio==3.6.1
appdirs==1.4.4
argcomplete
argh==0.26.2
argon2-cffi
argon2-cffi-bindings
arrow
asn1crypto
astroid
astropy
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
asyncer==0.0.1
asynctest==0.13.0
atomicwrites==1.4.0
attrs==22.1.0
autopep8
Babel
backcall
backports.shutil-get-terminal-size
beautifulsoup4
binaryornot
bitarray
bkcharts==0.2
black
bleach
blur-detector==0.0.4
bokeh
boto==2.49.0
Bottleneck
brotlipy==0.7.0
cached-property==1.5.2
cachetools==5.2.0
catboost==1.0.6
certifi
cffi
chardet
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.0
clyent==1.2.2
colorama
coloredlogs==15.0.1
conda==22.9.0
conda-content-trust
conda-pack
conda-package-handling
conda-token
contextlib2
cookiecutter
cryptography
cycler
Cython
cytoolz
daal4py==2021.6.0
dask==2021.10.0
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
docutils
entrypoints
et-xmlfile==1.1.0
fairscale==0.4.6
fastapi==0.80.0
fastcache==1.1.0
fastjsonschema
filelock==3.8.0
filetype==1.1.0
flake8
Flask==2.2.2
Flask-RESTful==0.3.9
flatbuffers==1.12
fonttools==4.37.1
frozenlist==1.3.1
fsspec
future==0.18.2
fvcore==0.1.5.post20220512
gast==0.4.0
gdown==4.5.1
gevent
glob2
gmpy2
google-api-core==2.10.1
google-api-python-client==2.63.0
google-auth==2.11.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-audit-log==0.2.4
google-pasta==0.2.0
googleapis-common-protos==1.56.4
graphviz==0.20.1
greenlet
grpcio==1.49.1
grpcio-tools==1.44.0
h11==0.14.0
h5py==3.1.0
HeapDict
html5lib
httplib2==0.20.4
humanfriendly==10.0
hydra-core==1.2.0
idna
imagecodecs
ImageHash==4.2.1
imageio==2.21.2
imagesize
imgaug==0.2.6
importlib-metadata==4.12.0
importlib-resources==5.9.0
inflection==0.5.1
iniconfig
install==1.3.5
intervaltree
iopath==0.1.9
ipykernel
ipython==7.34.0
ipython-genutils
ipywidgets
isort
itsdangerous==2.1.2
jdcal
jedi
jeepney
Jinja2
jinja2-time
joblib
json5
jsonschema
jupyter
jupyter-console
jupyter-core
jupyter-server
jupyter_client
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras==2.8.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyring
kiwisolver==1.4.4
lazy-object-proxy
libarchive-c
libclang==14.0.6
llvmlite==0.39.1
locket
lxml
Markdown==3.4.1
MarkupSafe
matplotlib==3.5.3
matplotlib-inline
mccabe
mistune
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
mock
more-itertools
mpmath==1.2.1
msgpack
multidict==6.0.2
multipledispatch==0.6.0
munkres==1.1.4
mypy-extensions==0.4.3
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
nose
notebook
numba
numexpr
numpy==1.21.6
numpydoc
oauth2client==4.1.3
oauthlib==3.2.0
olefile==0.46
omegaconf==2.2.3
onnxruntime==1.12.1
opencv-contrib-python==4.5.5.62
opencv-python==4.5.5.62
opencv-python-headless==4.6.0.66
openpyxl==3.0.10
opt-einsum==3.3.0
packaging
pandas==1.3.5
pandocfilters
parso
partd
path
pathlib2
pathspec==0.10.1
patsy==0.5.2
pep8==1.7.1
pexpect
pickleshare
Pillow==9.2.0
pkginfo
pkgutil_resolve_name
platformdirs
plotly==5.10.0
pluggy
ply==3.11
portalocker==2.5.1
poyo
prometheus-client
prompt-toolkit==3.0.31
protobuf==3.20.1
psutil==5.9.2
ptyprocess
py
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.4
pycodestyle
pycosat
pycparser
pycrypto==2.6.1
pycurl==7.45.1
pydantic==1.10.2
pydocstyle
pydot==1.4.2
PyDrive==1.3.1
pyerfa
pyflakes
Pygments==2.13.0
pylint
pyls-spyder==0.4.0
PyMatting==1.1.8
pyodbc
pyOpenSSL
pyparsing
pyrsistent
PySocks
pytest==7.1.2
python-dateutil
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-multipart==0.0.5
python-slugify
pytz==2022.2.1
PyWavelets
pyxdg
PyYAML==6.0
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
qudida==0.0.4
regex
rembg==2.0.25
requests
requests-oauthlib==1.3.1
rope
rsa==4.9
Rtree
ruamel-yaml-conda
scikit-image==0.19.3
scikit-learn
scikit-learn-intelex==2021.20221004.171321
scipy
seaborn
SecretStorage
Send2Trash
simplegeneric==0.8.1
singledispatch
six
sniffio==1.3.0
snowballstemmer
sortedcollections
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-websupport
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy
starlette==0.19.1
statsmodels
sympy
tables==3.6.1
tabulate==0.8.10
TBB==0.2
tblib
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.5.0
tensorflow-estimator==2.5.0
tensorflow-gpu==2.5.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==1.1.0
terminado
testpath
text-unidecode
textdistance
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
three-merge
tifffile==2021.11.2
timm==0.6.7
tinycss
toml
tomli
tomlkit
toolz
torch==1.10.0+cu113
torchaudio==0.10.0+rocm4.1
torchvision==0.11.0+cu113
tornado
tqdm
traitlets==5.3.0
typed-ast==1.5.4
typing_extensions
ujson
unicodecsv==0.14.1
Unidecode
uritemplate==4.1.1
urllib3
uvicorn==0.18.3
watchdog==2.1.9
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug==2.2.2
whatthepatch
whichcraft
widgetsnbextension
wrapt
wurlitzer
xlrd
XlsxWriter
xlwt==1.3.0
yacs==0.1.8
yapf
yarl==1.8.1
zict==2.1.0
zipp==3.8.1
zope.event==4.5.0
zope.interface